<h1>Stupid Coaching</h1>

<div class="user">
<%= @answer %>
<p><em>- You </em></p>
</div>
<br>

<div class="coach">
<strong><%= @coach_answer %></strong>
<p><em> - Coach </em></p>
</div>

<%= link_to "Ask Coach another question.", ask_path %>

